* {
    box-sizing: border-box;
}

body {
    background-color: hsl(0, 0%, 98%);
    font-family: 'Poppins', sans-serif;
}

header {
    margin: 50px auto;
    max-width: 500px;
    text-align: center;
}

h1 {
    font-weight: 200;
    margin: 0;
}

h1 span {
    font-weight: 600;
}

h1,
h3 {
    color: hsl(234, 12%, 34%);
}

p {
    color: hsl(229, 6%, 66%);
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
    max-width: 1140px;
}

.box {
    color: #fff;
    box-shadow: 0 10px 20px rgba(0, 0, 0, .05), 0 6px 6px rgba(0, 0, 0, .1);
    border-radius: 5px;
    padding: 30px;
    margin: 15px;
    width: 350px;
}

.box img {
    display: block;
    margin-left: auto;
}

.box p {
    font-size: 15px;
    margin: 15px 0 30px;
}

.sup {
    border-top: 5px solid hsl(180, 62%, 55%);
}

.calc {
    border-top: 5px solid hsl(212, 86%, 64%);
}

.karma {
    border-top: 5px solid hsl(34, 97%, 64%);
}

.team {
    border-top: 5px solid hsl(0, 78%, 62%);
}

.push {
    transform: translateY(50%);
}

footer {
    text-align: center;
}

@media (max-width: 775px) {
    .push {
        transform: translateY(0);
    }
}